<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710150016543-ed2nmern0s00mp43skke3nl0p1ih8a20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710150016543-ed2nmern0s00mp43skke3nl0p1ih8a20</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ek005UzHLix4gJZddcByXuObNd6O2as</string>
	<key>GCM_SENDER_ID</key>
	<string>710150016543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicBankApp</string>
	<key>PROJECT_ID</key>
	<string>basic-bank-app-86344</string>
	<key>STORAGE_BUCKET</key>
	<string>basic-bank-app-86344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710150016543:ios:a2a3078cb0f3ed5734cf2a</string>
</dict>
</plist>